baseDomain: cnkajjilrks3ak60nri6.ytsaurus.yandexcloud.net
tokenSecretRef: task-proxy-token
replicas: 1
auth:
  enabled: false
proxy:
  resources:
    requests:
      cpu: "1"
      memory: 200Mi
server:
  resources:
    requests:
      cpu: "1"
      memory: 200Mi
nodeSelector:
  kubernetes.io/hostname: cnkajjilrks3ak60nri6-aux-0-2
affinity:
  podAntiAffinity:
    requiredDuringSchedulingIgnoredDuringExecution:
    - labelSelector:
        matchExpressions:
        - key: app.kubernetes.io/component
          operator: In
          values:
          - task-proxy
      topologyKey: kubernetes.io/hostname
