apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Release.Name }}-config
  namespace: {{ .Release.Namespace }}
data:
  envoy.yaml: |
    node:
      cluster: cluster
      id: id
    dynamic_resources:
      ads_config:
        api_type: GRPC
        transport_api_version: V3
        grpc_services:
        - envoy_grpc:
            cluster_name: xds_cluster
      lds_config: { ads: {}, resource_api_version: V3 }
      cds_config: { ads: {}, resource_api_version: V3 }
    static_resources:
      clusters:
      - name: xds_cluster
        type: STATIC
        connect_timeout: 1s
        http2_protocol_options: {}
        load_assignment:
          cluster_name: xds_cluster
          endpoints:
          - lb_endpoints:
            - endpoint:
                address:
                  socket_address: { address: 127.0.0.1, port_value: 9090 }
    admin:
      address:
        socket_address:
          address: 0.0.0.0
          port_value: 9901
