apiVersion: v1
kind: Service
metadata:
  name: {{ .Release.Name }}
  namespace: {{ .Release.Namespace }}
spec:
  type:
  {{- if .Values.tls.enabled }}
    LoadBalancer
  {{- else }}
    NodePort
  {{- end }}
  selector:
    app.kubernetes.io/component: task-proxy
  ports:
  - name: http
    targetPort: 8080
    port:
    {{- if .Values.tls.enabled }}
      443
    {{- else }}
      80
    {{- end }}