name: Tests

on:
  push:
    branches:
      - main

  pull_request: {}

  workflow_dispatch: {}

jobs:
  check-unit:
    name: Run unit tests
    uses: ./.github/workflows/subflow_run_unit_tests.yaml
